<h1 mat-dialog-title>{{data.pageValue.name}} Stats</h1>
<div mat-dialog-content>
  <ul>
    <li>Draws: {{data.pageValue.drawn}}</li>
    <li>Goal Differential: {{data.pageValue.goal_diff}}</li>
    <li>Conceded Goals: {{data.pageValue.goals_conceded}}</li>
    <li>Goals Scored: {{data.pageValue.goals_scored}}</li>
    <li>Lost: {{data.pageValue.lost}}</li>
    <li>Matches: {{data.pageValue.matches}}</li>
    <li>Points: {{data.pageValue.points}}</li>
    <li>Rank: {{data.pageValue.rank}}</li>
    <li>Won: {{data.pageValue.won}}  </li>
  </ul>
</div>
