.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  padding-bottom: 30px;
 }

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  padding: 20px 10px;
  font-size: 20px;
  height: 50px;
  color: beige;
  background-color: #162E58;
}

.cell {
  border-radius: 8px;
  border: 1px solid #c2c2c3;
  padding: 0px 0px 20px 20px;
  margin: 0px 20px 0px 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cell:hover {
  background-color:beige;
}

